@page "{id:min(1)?}/{handler?}"
@model WebPhotoHostGeneral.Pages.Publications.EditModel
@{
    var photoPath = $"/images/{Model.Publication.PhotoPath ?? "noimage"}";

    var pageTitle = Model.Publication.Id > 0 ? "Edit" : "Create";
    ViewData["Title"] = pageTitle;
}

<form method="post" asp-page-handler="UpdateNotificationPreferences">
    <div class="row text-center notifyBlock">
        <div class="col form-check">
            <h1>Notification Preference</h1>
            <input asp-for="Notify" class="form-check-input" />
            <label asp-for="Notify" class="form-check-label">
                Receive email notification when my details change
            </label><br />

            <button type="submit" class="btn btn-success text-center">Update Notification Preference</button>

            @if(!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success">
                    <p class="p-3 mt-2">@Model.Message</p>
                </div>
            }

        </div>
    </div>
</form>
<hr />

<div asp-validation-summary="All" class="text-danger text-center"></div>

<!--форму редактирования-->
<form method="post" asp-page-handler="OnPost" class="mt-3" enctype="multipart/form-data"> <!--multipart/form-data указывется для передачи данных из формы, иначе null-->
    <!--скрытое поле для параметра ID для передачи в метод POST-->
    <input type="hidden" asp-for="Publication.Id" />
    <input type="hidden" asp-for="Publication.PhotoPath" /> 

    <!--Добавляем поля редактирования-->
    <div class="row justify-content-center m-3">
        <div class="col col-lg-8">
            <div class="card cardBoxShadow">
                <div class="card-header cardHeaderStyle text-center">
                    <!--поле редактирования имени-->
                    <div class="form-group row">
                        <label asp-for="Publication.Name" class="col col-lg-4 col-form-label text-right">Edit Name:</label>
                        <div class="col col-lg-6">
                            <input asp-for="Publication.Name" class="form-control" placeholder="@Model.Publication.Name" />
                            <!--сообщение валидации формы-->
                            <span asp-validation-for="Publication.Name" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="card-body cardBodyStyle text-center">
                    <div class="row">
                        <div class="col col-lg-9">
                            <h4 class="cardTextLeftFloating">Publication ID: @Model.Publication.Id</h4><hr />

                            <!--поле редактирования e-mail-->
                            <div class="form-group row">
                                <label asp-for="Publication.Email" class="col col-lg-4 col-form-label text-right">Edit E-mail:</label>
                                <div class="col-12 col-lg-6">
                                    <input asp-for="Publication.Email" class="form-control mr-2" placeholder="@Model.Publication.Email" />
                                    <!--сообщение валидации формы-->
                                    <span asp-validation-for="Publication.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <!--поле редактирования департамента-->
                            <div class="form-group row">
                                <label asp-for="Publication.Department" class="col col-lg-4 col-form-label text-right">Edit Department:</label>
                                <div class="col-12 col-lg-6">
                                    <!--Создаём выпадающий список с категориями-->
                                    <!--класс подключен глобально в _ViewImports-->
                                    <select asp-for="Publication.Department" class="custom-select mr-2" asp-items="Html.GetEnumSelectList<Dept>()">
                                        <!--Добавляем начальный элемент выпадающего списка-->
                                        <option value="">Please Select</option>
                                    </select>
                                    <span asp-validation-for="Publication.Department" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="col-lg-3">
                            <div>

                                <img class="card-img-top imageThumbnail border border-primary" src="@photoPath" asp-append-version="true" />

                                <div class="custom-file">
                                    <input asp-for="Photo" class="custom-file-input form-control" /> <!--Выбор нового изображения-->
                                    <label class="custom-file-label text-left">Click here</label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.25);">
                                <button type="submit" class="btn btn-success buttonShadow">Update</button>
                                <a asp-page="/Admin/AdminEmpl/AdPublications" class="btn btn-danger buttonShadow">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () { //обращение к html документы, ожидание полной загрузки
                $('.custom-file-input').on("change", function () { //когда поле изменится, то должна запуститься функция
                    var fileName = $(this).val().split("\\").pop(); //получаем имя файла
                    $(this).next('.custom-file-label').html(fileName); //изменение текста на название нового выбранного файла
                });
            });
        </script>

        <partial name="_ValidationScriptsPartial" />
    }

</form>
