@page "{id}"
@model WebPhotoHostGeneral.Pages.Admin.AdminEmpl.AdDetailsModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Publication Details";
    var photoPath = $"/images/{Model.Publication.PhotoPath ?? "noimage.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <vc:head-count department="@Model.Publication.Department"></vc:head-count>
    </div>
</div>

<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <div class="card cardBoxShadow">

            <div class="card-header cardHeaderStyle text-center">
                <h1>@Model.Publication.Name</h1>
            </div>

            <div class="card-body cardBoxShadow text-center">
                <div class="row">
                    <div class="col col-lg-9">
                        <h4 class="cardTextLeftFloating">Publication ID: @Model.Publication.Id</h4><hr />
                       
                        <h4 class="cardTextLeftFloating semibold">Publication Category: <span class="text-info font-weight-bold">@Model.Publication.Department</span></h4>
                       


                        <div class="card-footer text-center" style="background-color: rgb(255, 255, 255);">

                             @if (User.Identity.IsAuthenticated)
                              {
                                 <a class="btn btn-success" href="@photoPath" download="Image">Download image</a> <!--ЗАГРУЗКА ФАЙЛА-->
                              }
                             else
                             {
                                <a class="btn btn-success" asp-page="/Login"><span class="text-danger font-weight-bold">You must be logged in to download</span></a>
                             }

							    <a class="btn btn-success" asp-page="/Admin/AdminEmpl/AdPublications"  style="color:#ffffff">Back</a>
							    
						</div>
                    </div>

                        <div class="col col-lg-3">
                            <div style="border-right: 1px solid rgba(0,0,0,.1);">
                                <img class="card-img-top imageThumbnail border-primary" style="color:#ffffff";" src="@photoPath" asp-append-version="true" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
